{% extends "gproject/base_site.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Elaborations Summary {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/w3.css" rel="stylesheet" >
  <link href="/static/build/css/custom.css" rel="stylesheet">
  <link href="/static/build/css/custom_add.css" rel="stylesheet">
  <link href="/static/build/css/custom_table.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">

      </div>
      <div class="clearfix"></div>

      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="x_panel">
                <div class="x_title" id="titles">
                  <h2>Elaboration Wizards</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">


                                      <!-- Smart Wizard -->
                                            <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;margin-top:5px;">

                            <i class="step fa fa-check-circle" style="font-size:24px"></i>
                            <i class="step fa fa-check-circle" style="font-size:24px"></i>
                            <i class="step fa fa-check-circle" style="font-size:24px"></i>
                            <i class="step fa fa-check-circle" style="font-size:24px"></i>

                    </div>

                    <div style="overflow:auto;">
                          <div style="float:right;">
                            <div class="btn-group" >

                              <button id="prevButton" class="btn btn-primary" onclick="nextPrev(-1)" >
                                 Prev
                              </button>

                            </div>

                            <div class="btn-group" >
                              <button id="nextButton" class="btn btn-primary" onclick="nextPrev(1)" >
                                   Next
                              </button>

                            </div>
                          </div>
                        </div>

                </div>
              <!-- End SmartWizard Content -->
            </div>
            <div class="x_panel">
                <div class="x_title" id="titles">
                   <h2>Basic Data</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <!-- Smart Wizard -->
                        <!-- Circles which indicates the steps of the form: -->
                    <div id="tabs">

                        <div id="step-1" class="tab">
                            <div style="overflow:auto;">
                            <div style="float:left;">

                                 <div class="btn-group" style="margin-top: 5px; ">

                                    <a href="{% static 'template_grouping.xlsx' %}">
                                       <i class="fa fa-download" style="font-size:20px;">

                                       </i>

                                        <h5 style="display: inline-block;">Download Template </h5>

                                    </a>

                                </div>
                            </div>
                            <div style="float:right;">
                                <div class="btn-group" >
                                  <a href="#" onclick="post_data({{ user.pk }})">

                                      <h5 style="display: inline-block;">Upload your file </h5>

                                      <i id="btn_upload" class="fa fa-upload" style="font-size:20px;">

                                      </i>

                                  </a>

                                </div>


                            </div>
                        </div>


    <!-- -->
                            <form class="form-horizontal form-label-left" >

                            <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> Name <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="id_name" required="required" class="form-control col-md-7 col-xs-12">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Description <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="id_decription" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Upload File</label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="id_document_input" class="form-control col-md-7 col-xs-12" type="file" name="middle-name" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                              </div>
                            </div>


                          </form>

                        </div>

                        <div id="step-2" class="tab">
                            <div id="plus_minus_div_group">
                              <div style="align:right;">
                                <div class="btn-group" >
                                    <label onclick="zoomUpDown(-1)">

                                            <i class="fa fa-minus-circle" style="font-size:20px"></i>

                                    </label>
                                    <label>Zoom In/Out</label>
                                    <label onclick="zoomUpDown(1)">

                                            <i class="fa fa-plus-circle" style="font-size:20px"></i>

                                    </label>


                                </div>
                              </div>
                            </div>
                              <div>
    {#                            <span class="table-add glyphicon glyphicon-plus"></span>#}
                              </div>
                            <div style="overflow: auto;">
                                <div id="table" class="table-editable" >

                            <table id="edit-table" class="w3-table w3-striped w3-bordered w3-hoverable w3-card-4" style="overflow: auto;">
                                <thead id="edit-table-head" class="w3-light-grey" valign="center">

                                </thead>
                                <tbody id="edit-table-body">

                                </tbody>
                            </table>
                          </div>
                            </div>
                        </div>

                        <div id="step-3" class="tab">
                          <h2 class="StepTitle">Step 4 Content</h2>
                          <p>
                          </p>
                        </div>

                        <div id="step-4" class="tab">
                          <h2 class="StepTitle">Step 4 Content</h2>
                          <p>
                          </p>
                        </div>

                    </div>


                </div>
              <!-- End SmartWizard Content -->
            </div>

        </div>

      </div>
    </div>
  </div>

              <!----modal starts here--->
            <div id="update-modal" class="modal fade  bd-example-modal-xl" role='dialog'>
                <div class="modal-dialog modal-xl" style="width:800px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <div style="text-align:center;margin-top:5px; ">
                                <i id="btn_prev_rec" class="fa fa-backward" onclick="modal_next_prev(-1)" style="font-size:20px; display: inline-block;"> </i>
                                <label id="record_num" style = "display: inline-block; margin-left: 5px; margin-right: 5px;" class="modal-title"> </label>
                                <i id="btn_next_rec" class="fa fa-forward" onclick="modal_next_prev(1)" style="font-size:20px; display: inline-block;"> </i>
                            </div>
                        </div>
                        <div class="modal-body" id= "modal-body" style="overflow: auto;">

                        {# modal body generated with javascript #}

                        </div>
                        <div class="modal-footer">
                            <button id="button_modal_submit" type="button" class="btn btn-primary" onclick="submit_change_table()" disabled>Submit</button>
                            <button id="button_modal_close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                  </div>
              </div>
            <!--Modal ends here--->


{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- jQuery Smart Wizard -->
  <script src="/static/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>

  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>



{% endblock javascripts %}
{% block jq%}


    <script src="/static/build/js/custom_add_new.js"></script>
    <script src="/static/build/js/custom_table.js"></script>
{#    <script src="/static/build/js/paginator.js"></script>#}

     <script type="text/javascript" language="javascript" class="init">





     </script>

{% endblock jq %}