{#<div class="left_col scroll-fixed">#}
<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-spinner fa-pulse"></i><span> Grouping Project</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/profile-default.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'users-profile' %}">{{ user.username }}</a>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'users-login' %}">Login</a>
{#            <a class="nav-item nav-link" href="{% url 'users-register' %}">Register</a>#}
        {% endif %}
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">

        <li><a href="/users/profile"><i class="fa fa-user"></i> Profile </a>

        </li>

        <li><a href="/gproject/GP/home_new"><i class="fa fa-home"></i> Home </a>

        </li>

        <li><a href="/gproject/GP/wizard_new_4"><i class="fa fa-bar-chart-o"></i> Elaboration Wizard </a>

        </li>

        <li><a href="/gproject/GP/elaboration_settings_new"><i  class="fa fa-cogs"></i> Elaboration Settings </a>

        </li>

      </ul>
    </div>

  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
  </div>
  <!-- /menu footer buttons -->
</div>
