{% extends "blog/base.html" %}
{% block bodyblock %}
    {% if posts %}
{#        {% if page_obj.has_previous %}#}
{#            <a href="/blog/post?page={{ page_obj.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
        {% for post in posts %}
{#            {% if is_paginated %}#}

                <article class="media content-section">
                    <div class="pagination">

                      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                      <div class="media-body">
                        <div class="article-metadata">
                          <a class="mr-2" href="{% url 'users-profile' %}">{{ post.author }}</a>
                          <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                        </div>
                        <h2><a class="article-title" href="{% url 'blog-detail' post.id %}">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content }}</p>
                      </div>


                    </div>
                </article>

{#            {% endif %}#}
        {% endfor %}
{#        {% if page_obj.has_next %}#}
{#            <a href="/blog/post?page={{ page_obj.next_page_number }}">next</a>#}
{#        {% endif %}#}
    {% endif %}
{% endblock bodyblock %}